.main-header{
  position: sticky;
  top: 0;
  background-color: violet;
}
.main-header .logo{
	width:50%;
	display:inline-block;
}
.main-header .menu-list{
	width:50%;
	float: right;
	text-decoration: none;
	display:inline-block;
}
.main-header .menu-list .menu-group .menu-items{
	display: inline-block;
	padding-top: 20px;
	font-size: 20px;
	padding-right: 20px;
}
.main-header .logo .logo-img{
	height:100px;
	display:inline-block;
}

  .menu-list label { 
    display: inline-block; 
    color: white;
    background: #a02620;
    padding: 15px;
    font-size:25px;
    float:right;
    margin:20px;
  }

  /* Break down menu items into vertical */
  .menu-group .menu-items {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }

  /* Toggle Show/Hide Menu */
  .menu-group { display: none; }
  .menu-list input:checked ~ .menu-group { display: block; }
  .menu-list {
  width: 100%;
  background: green;
  position: sticky;
  top: 0;
}
.menu-group .menu-items a:hover {
  background: #401408;
}
#slideshow{
  position: relative;
  text-align: center;
}
#welcome-text{
  position: absolute;
  top:30%;
  right: 40%;
  font-size: 45px;
}
@media only screen and (min-width: 600px) {
  .menu-list label {
    display: none;
  }
  .menu-group{
    display:inline-block;
  }
  .menu-group .menu-items {
      display: inline-block;
      border: none;
      width: 10%;
      box-sizing:initial;
  }
}